<div class="m-b-32 d-flex <%= special_class %>">
    <div class="classic-img <%= img_class %> "></div>
    <div class="d-flex align-items-center m-x-24">
        <div class="icon-box d-flex align-items-center justify-content-center">
            <img src="<%= icon_src %>" class="<%= icon_class %>">
        </div>
        
            <h2 class="h2 text-primary text-uppercase italic"><%- text %></h2>
        
    </div>
</div>