<div class="classic-card d-flex <%= special_class %>">
    <div class="classic-img <%= img_class %> d-flex justify-content-center align-items-center ">

        <div class="classic-sm-icon justify-content-center align-items-center">
            <div class="icon-box mr-1">
                <img src="<%= icon_sm_src %>" class="<%= icon_class %>">
            </div>
            <h2 class="text-white text-uppercase italic"><%- text %></h2>

        </div>
    </div>
    <div class="d-flex align-items-center classic-text">
        <div class="icon-box mr-1 d-flex align-items-center justify-content-center">
            <img src="<%= icon_src %>" class="<%= icon_class %>">
        </div>
            <h2 class="text-primary text-uppercase italic"><%- text %></h2>
    </div>
</div>