<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
  <%- contents %>

  <%- include('nav.ejs') %>
  <%- include('header.ejs') %>
  <%- include('用專業的心.ejs') %>
  <%- include('經典系列鏡框.ejs') %>
  <%- include('聯名設計鏡框&顧客推薦.ejs') %>
  <%- include('聯絡我們.ejs') %>
  <%- include('footer.ejs') %>

</body>

</html>
