<% 
var h2 ='用專業的心，做專業的事';
var data=[
            {
                title:'單一價格',
                src:'./assets/images/iconfinder_circle-dollar_430089.svg',
                text:'無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。'
            },
            {
                title:'20 分鐘即可取件',
                src:'./assets/images/iconfinder_clock-1_430090.svg',
                text:'為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。'
            },
            {
                title:'安心售後服務',
                src:'./assets/images/iconfinder_heart_430099.svg',
                text:'我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。'
            },
            {
                title:'關於鏡片',
                src:'./assets/images/iconfinder_glasses_430098 (1).svg',
                text:'使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。'
            }
];
%>
<section class="bg-tertiary">
    <div class="container 用專業的心">
        <h2 class="text-secondary text-center 用專業的心h2"><%- h2 %></h2>
        <ul class=" card-list d-flex justify-content-between p-b-80">
            <li class="d-flex justify-content-center card-order-1">
                <%- include('card.ejs',data[0]) %>
            </li>
            <li class="d-flex justify-content-center">

                <%- include('card.ejs',data[1]) %>
            </li>
            <li class="d-flex justify-content-center">

                <%- include('card.ejs',data[2]) %>

            </li>
            <li class="d-flex justify-content-center card-order-2">

                <%- include('card.ejs',data[3]) %>
            </li>
        </ul>
    </div>
</section>